<div class="search">
  <div class="image">
    <img src="https://placehold.jp/300x300.png" style="width: 90vw; height: 90vh; margin: 0 auto;">
  </div>
  <div class="image">
    <img src="https://placehold.jp/300x300.png" style="width: 90vw; height: 90vh; margin: 0 auto;">
  </div>
  <div class="image">
    <img src="https://placehold.jp/300x300.png" style="width: 90vw; height: 90vh; margin: 0 auto;">
  </div>
</div>

<div id="hello">
  <app :blogs="<%= @blogs.to_json(only: %i[id title]) %>"></app>
</div>

<% @blogs.each do |blog| %>
  <div class="row">
    <div class="col s4 m6">
      <div class="card">
        <span class="card-title">
          <%= blog.title %>ｓ
        </span>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'hello_vue' %>
